.botao1 {
    border-radius: 9999px;
    background-color: #6cbeef;
    padding: 8px 16px;
    cursor: pointer;
}

.botao2 {
    border: 2px solid #6cbeef;
    border-radius: 9999px;
    padding: 8px 16px;
    cursor: pointer;
}


.dark-mode h1 {
    color: #ffffff;
}

.light-mode h1 {
    color: #000000;
}

.dark-mode p {
    color: #ffffff;

}

.light-mode p {
    color: #000000;
}

label {
    padding: 10px;
}

.dark-mode label {
    color: #ffffff;

}

.light-mode label {
    color: #000000;
}

.dark-mode .fundo1 {
    background-color: #181818;
}

.dark-mode .fundo2 {
    background-color: #2b2a2a;
}

.light-mode .fundo1 {
    background-color: white;
}

.light-mode .fundo2 {
    background-color: #ebeaea;
}

.dark-mode span {
    color: #6cbeef;
}

.light-mode span {
    color: #6cbeef;
}

.dark-mode button {
    color: white;
}

.dark-mode .menu {
    background-color: #2b2a2a;
}

.light-mode .menu {
    background-color: #6cbeef;
}

.icone {
    width: 80px;
    fill: #65aee8;
}


.light-mode .caixaForm {
    border: 2px solid #6cbeef;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: transparent;
}

.dark-mode .caixaForm {
    border: 2px solid #6cbeef;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: transparent;
    color: white;
}

.light-mode .caixaForm:focus {
    background-color: #f0f0f0;
}

.dark-mode .caixaForm:focus {
    background-color: #525252;
}


.light-mode a{
    color: black;
}

.dark-mode a{
    color:white;
}

.light-mode a:hover{
    color:#525252;
}

.dark-mode a:hover{
    color:#65aee8;
}