.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4e0c51;
    padding: 10px;
    color: white;
    height: 30px;
  }
  
  .logo {
    font-size: 15px;
    font-weight: bold;
    margin-left: 200px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 200px;
  }
  
  li {
    font-size: 15px;
    margin-left: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  