
.custom-shape-divider-top-1689120345 .shape-fill{
    fill: #DFDFDF;
}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    height: 300px;
    background-color:#DFDFDF;
}

.textototal{
    margin-right: 30px;
}
.h1sobremim{
    font-size: 35px;
    margin-bottom: 10px;
}
.sobre-emojis{
    display:flex;
    font-size: 25px;
}

.imagem{
    height: 300px;
}